.container {
    padding: 1rem 0;
    width: 30%;
    background-color: white;
    div {
        font-weight: 600;
        margin: 0.8rem 2rem;
        span {
            float: right;
        }
    }
}

