nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    &> a{
        margin: auto 8%;
        &:hover{
            text-decoration: none;
        }
    }
}

.nav__brand {
    font-size: 1.875rem;
    font-weight: 600;
    color: black;
}

.nav__link {
    width: 20%;
    height: 100%;
    margin-right: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin icons($url) {
    width: 22px;
    height: 22px;
    &::after{
        content: url($url);
        cursor: pointer;
    }
}

.guest {
    @include icons('./icons/user-new.svg');
}

.authuser {
    @include icons('./icons/user-fill.svg');
}

.heart {
    @include icons('./icons/heart-new.svg');
}

.heart--fill {
    @include icons('./icons/heart-fill.svg');
}

.bag {
    @include icons('./icons/bag-new.svg');
}

.bag--fill {
    @include icons('./icons/bag-fill.svg');
}

.search {
    @include icons('./icons/search-new.svg');
}

.animate {
    animation: scale 1s 1;
}

@keyframes scale {
    from {transform: scale(1);}
    to {transform: scale(1.5);}
}