.container {
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
    position: sticky;
    top: 86px;
    z-index: 3;
    &>a {
        color: white;
        &:hover{
            text-decoration: none;
        }
        &>div {
            padding:0  1.2rem;
            margin: 0.8rem 0;
            font-size: 0.875rem;
            border-right: solid 1px white;
        }
    }
}